.form-control {
  margin-bottom: 5px;
}

.panel-heading {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-header, .welcome-header {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 5px;
}

.welcome-header {
  text-align: right;
}
